<odoo>
    <menuitem
        id="okr_menu"
        name="OKR"
        sequence="80"/>

    <menuitem
        id="okr_main"
        name="OKR"
        action="okr_menu_action"
        parent="okr_menu"
        sequence="10"/>
    <menuitem
        id="okr_line"
        name="OKR lines"
        action="okr_line_menu_action"
        parent="okr_menu"
        sequence="20"/>
</odoo>
